*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 50px;
    background-color: #000000;
}

.position-top-buttons {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 3px;
    margin-right: 5px;
}

.first-top-button, .second-top-button {
    background-color: #4a4a4a;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
}

main{
    height: calc(100vh - 150px);
    background-color: #000000;
    overflow: auto;
}

img {
   object-fit: cover;
   width: 250px;
   height: 150px;
}
.container-main {
    width: 100%;
}

.row-main {
    width: 95%;
    display: flex;
    
}

.col{
    width: 100%;
    display: flex;
}

.content {
    margin-top: 5px;
    display: flex wrap;
}

footer {
    height: 100px;
    background-color: #222222;
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-container{
    width: 100%;
    margin: 0 auto;
}
.row-footer {
    width: 100%;
    display: flex;
}
.col-footer-left {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    width: 10%;
}
.col-footer-mid {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-footer-right {
    width: 10%;
    margin: 0;
    text-align: center;
}


.fa-microphone {
    color: white;
    scale: 2;
    margin-left: 10px;
    
}

.fa-video {
    margin-left: 20px;
}



.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

span {
    color: white;
}

.white-scale {
    color: white;
    scale: 2;
}

.green-scale{
    color: green;
    scale: 2;
}

h5 {
 margin-left: 0;
 color: red;
 background-color: #4a4a4a;
 padding: 42px 10px 42px 10px;
}

.pinco-pallo {
position: absolute;
  bottom: 4px;
  left: 0px;
  background-color: grey;
}

.img-relative {
    position: relative;
}


.col-footer-left ul {
    display: flex;
    list-style-type: none;
}

.col-footer-left li {
 margin-right: 35px;
}

.under-text {
    position: absolute;
    bottom: 10px;
    color: white;
    text-align: left;
}

.col-footer-mid ul {
   display: flex;
   list-style-type: none;

}

.col-footer-mid li {
  padding-right: 30px;
    
}