*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 50px;
    background-color: #000000;
}

.position-top-buttons {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 3px;
    margin-right: 5px;
}

.first-top-button, .second-top-button {
    background-color: #4a4a4a;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
}

main{
    height: calc(100vh - 150px);
    background-color: #000000;
    overflow: auto;
}

img {
   object-fit: cover;
   width: 250px;
   height: 150px;
}
.container-main {
    width: 100%;
}

.row-main {
    width: 95%;
    display: flex;
    
}

.col{
    width: 100%;
    display: flex;
}

.content {
    margin-top: 5px;
    display: flex wrap;
}


.lable-name {
    position: absolute;
    bottom: 4px;
    left: 0px;
    background-color: rgb(97, 97, 97,0.5);
 }

.img-relative {
    position: relative;
}

footer {
    height: 100px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    
}

.footer-left, .footer-mid, .footer-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin: 0;
}

footer .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.end-meeting {
    height: 100px;
    width: 200px;
    background-color: rgba(2, 2, 2, 2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: red;
}

.fa-share-from-square {
    color: green;
}


.fa-solid:hover, .fa-brands:hover, .fa-regular:hover {
    cursor: pointer;
    color: rgb(185, 185, 185);
    
}

.end-meeting:hover {
    cursor: pointer;
}


.first-top-button:hover, .second-top-button:hover{
    box-shadow: 1px 1px 10px white;
}

img:hover, .lable-name:hover {
    box-shadow: 1px 1px 10px whitesmoke;
    cursor: pointer;
}

